/* #backgroundvideo {
    z-index: -1;
} */





video{
    position: absolute;
    top: 0%;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    /* display: flex; */
}

body {
    margin: 0% 0% 0% 0%;
    background-color: #CE1141;
    background-repeat: no-repeat;
}
/* 
#tropy {
    float: left;
    z-index: 1;
} */

.container1{
    width: 100%;
    height: 100%;
    border: 1px white;
}
.covertitle {
    margin-left: 23%;
    margin-top: 20%;
    color: white;
    font-family: source-sans-pro,sans-serif;
    font-weight: 600;
    font-style: normal;
    text-shadow: 0px 0px 3px whitesmoke;
    padding: 1em;
    position: relative;
    z-index: 1;
    /* float: right; */
    /* display: flexbox;
    flex-wrap: ; */

}

#coverunderline {
    text-decoration-color: #CE1141;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
}



.partone {
    width: 100%;
    height: 100%;
    border: 1px white;
    position: relative;
    /* float: left; */
}

#front {
    position: absolute;
    bottom: 10em;
    /* top: 100%; */
    /* margin-top: 25em; */
    z-index: -2;
}

#inthelastdance {
    color: white;
    font-family: source-sans-pro,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 4em;
    text-shadow: 0px 0px 5px whitesmoke;
    padding: 1em;
    position: relative;
    top: 350px;
    z-index: 1;
    /* line-height: 10em; */
    text-transform: uppercase;
    /* display: block; */
    /* margin-top: 30em; */
}

#mj {
    color: #CE1141;
    font-family: source-sans-pro,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 4em;
    text-shadow: 0px 0px 30px #CE1141;
    padding: 1em;
    position: relative;
    top: 250px;
    left: 1em;
    -webkit-text-stroke: 2px white;
    z-index: 1;
    text-transform: uppercase;
}

#thebulls {
    color: black;
    font-family: source-sans-pro,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 4em;
    text-shadow: 0px 0px 30px white;
    padding: 1em;
    position: relative;
    top: 150px;
    left: 5em;
    -webkit-text-stroke: 2px white;
    z-index: 1;
    text-transform: uppercase;
}

#still {
    color: white;
    font-family: source-sans-pro,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 7em;
    text-shadow: 0px 0px 30px white;
    padding: 1em;
    position: relative;
    top: -100px;
    left: 3em;
    /* -webkit-text-stroke: 2px white; */
    z-index: 1;
    text-transform: uppercase;
}

#dominate {
    color: white;
    font-family: source-sans-pro,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 4em;
    text-shadow: 0px 0px 30px white;
    /* padding: 1em; */
    position: relative;
    top: -250px;
    left: 10em;
    line-height: 1em;
    /* -webkit-text-stroke: 2px white; */
    z-index: 1;
    text-transform: uppercase;
}

#part1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;
    /* margin: auto 50% auto 10%; */
    width: 40vw;
    margin-left: 15em;
    padding: 2px;
    line-height: 1.3em;
    text-shadow: 1px 1px 5px white;
    text-align: left;
    float: left;
    /* display: inline; */
}
/* #tropy{
    width: 400px;
    float: right;
    background-color: transparent;
} */
#jerseymj {
    float: right;
    margin-top: 0;
    margin-right: 7em;
    /* margin: 10%; */
    height: auto;
    /* box-shadow: whitesmoke 5px 5px 5px; */
    
    /* left: 300px; */
    /* display: inline; */

}
/* .word1 {
    display: inline-block;
} */

.clearfix {
    clear: both;

}

#part2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;
    /* margin: auto 50% auto 10%; */
    width: 40vw;
    /* margin-left: 0;
    margin-top: 10em; */
    padding: 2px;
    line-height: 1.3em;
    text-shadow: 2px 2px 5px white;
    text-align: left;
    margin-right: 5em;
    float: right;
    margin-top: 5em;
}

#mjkobe{
    margin-top: 5em;
    margin-left: 5em;
    border-radius: 500px;
    box-shadow:white 5px 5px 10px;
    z-index: 5;
    position: relative;
}

#part3 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;
    /* margin: auto 50% auto 10%; */
    width: 40vw;
    margin-top: 10em;
    margin-left: 10em;
    padding: 2px;
    line-height: 1.3em;
    text-shadow: 1px 1px 5px white;
    text-align: left;
    float: left;
    /* display: inline; */
}

#dunk {
    margin-left: 15em;
    margin-top: 12em;
    box-shadow: black 3px 3px 10px;
    border-radius: 30px;
}
#mjpippen {
    margin-left: 15em;
    margin-top: 4em;
    box-shadow: black 3px 3px 10px;
    border-radius: 30px;
}

#part4 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;
    /* margin: auto 50% auto 10%; */
    width: 40vw;
    /* margin-left: 0;
    margin-top: 10em; */
    padding: 2px;
    line-height: 1.3em;
    text-shadow: 2px 2px 5px whites;
    text-align: left;
    margin-right: 15em;
    float: right;
    margin-top: 5em;
}










/* Source Sans Pro Regular
font-family: source-sans-pro, sans-serif;
font-weight: 400;
font-style: normal;


Source Sans Pro Bold
font-family: source-sans-pro, sans-serif;
font-weight: 700;
font-style: normal;


Source Sans Pro Bold Italic
font-family: source-sans-pro, sans-serif;
font-weight: 700;
font-style: italic;


Source Sans Pro Italic
font-family: source-sans-pro, sans-serif;
font-weight: 400;
font-style: italic; */